spring:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  
  flyway:
    enabled: false

# Development Logging
logging:
  level:
    com.gymmybro: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
